.thumbnail {
    padding: 10px;
}

#allImageModal .thumbnail a>img,
#allImageModal .thumbnail>img {
    height: 240px;
}

.manga-volume {
    font-size: 18px;
    font-weight: bold;
}

.manga-volume+.label {
    vertical-align: text-top;
}


/* auto complete css*/

ul.bs-autocomplete-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    z-index: 9999;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
}

ul.bs-autocomplete-menu a {
    font-weight: normal;
    color: #333333;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-state-active,
.ui-state-focus {
    color: #23527c;
    background-color: #eeeeee;
}

.bs-autocomplete-feedback {
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    margin-top: .5em;
    margin-right: .5em;
}

.loader {
    font-size: 10px;
    text-indent: -9999em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #333;
    background: -moz-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #333333 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #333;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.manga-info .lbl {
    display: block;
    font-size: 12px;
    color: #9a9a9a;
    padding: 0;
    margin-bottom: 5px;
    font-weight: 400;
    text-align: left;
  }
  
  .manga-info .manga-name {
    font-size: 24px;
    margin: 5px auto;
    font-weight: 500;
  }
  .manga-info .manga-alt-name {
    font-size: 16px;
    margin: 0 auto 2px 0;
    line-height: 1.2;
  }
  .manga-info .info-block {
    padding: 8px 0;
  }
  .manga-info .info-block .lbl {
    display: block;
    margin-bottom: 5px;
  }
  .manga-info .info-block .data {
    /*font-size: 18px;*/
    margin: 0 auto;
    font-weight: 500;
  }
  .manga-info .info-block .label {
    font-weight: 400;
    margin-bottom: 3px;
    display: inline-block;
    padding: 5px 7px;
  }
  .manga-info .info-block img {
    max-width: 100%;
  }
  